# Compiled files
fuck
*.o
*.a
*.so

# Build directories
build/
bin/

# IDE stuff
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Libraries (если мы потом будем их копировать в проект)
/libs/*.a
/libs/*.so
!/libs/glad.c  # кроме glad.c, он нам нужен
